<div class="container mt-3">
  <h1 class="artists-page-title">Artists</h1>
  <div class="artist-grid">
    <div *ngFor="let artist of artists" class="artist-box">
      <h3>
        <a [routerLink]="['/artists', artist._id]">{{ artist.name }}</a>
      </h3>
      <h4>Albums:</h4>
      <div
        *ngFor="let album of artist.albums; let i = index"
        class="album-item"
      >
        <a [routerLink]="['/albums', artist._id, i]">{{ album.title }}</a>
      </div>
    </div>
  </div>
</div>
