<div class="container mt-3">
  <h1 class="text-center mb-4">Artists</h1>

  <!-- Form to add a new artist -->
  <div class="mb-4">
    <h2>Add New Artist</h2>
    <form (ngSubmit)="addArtist()">
      <div class="mb-3">
        <label for="name" class="form-label">Name:</label>
        <input
          id="name"
          [(ngModel)]="newArtist.name"
          name="name"
          class="form-control"
          required
        />
      </div>
      <button type="submit" class="btn btn-success">Add Artist</button>
    </form>
  </div>

  <!-- List of existing artists -->
  <div class="row">
    <div
      *ngFor="let artist of artists"
      class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3"
    >
      <div class="card">
        <div class="card-body" style="height: 200px">
          <h3 class="card-title">
            <a
              [routerLink]="['/artists', artist._id]"
              class="text-decoration-none"
              >{{ artist.name }}</a
            >
          </h3>
          <h4>Albums:</h4>
          <!-- Dropdown for albums -->
          <div class="dropdown">
            <button
              class="btn btn-primary dropdown-toggle"
              type="button"
              id="dropdownMenuButton"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Select Album
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <li *ngFor="let album of artist.albums; let i = index">
                <a
                  class="dropdown-item"
                  [routerLink]="['/albums', artist._id, i]"
                  >{{ album.title }}</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
