body {
  margin: 0;
  padding: 1rem;
}

h3 {
  a {
    display: inline-block; /* Ensures the element respects width */
    height: 35px; /* Adjust the height as needed */
    overflow: hidden; /* Hide the overflow text */
    white-space: nowrap; /* Prevent text from wrapping to a new line */
    text-overflow: ellipsis; /* Add the ellipsis ('...') to truncated text */
    vertical-align: middle; /* Align text vertically if needed */
  }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(250px, 1fr)
  ); /* Adjust 250px to control min-width of items */
  grid-gap: 20px; /* Consistent gap between grid items */
}

.grid-item {
  background-color: #f8f9fa; /* Light background for better visibility */
  border-radius: 0.25rem; /* Border radius for a slight rounded effect */
  height: fit-content;
  min-width: 200px;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(
      auto-fill,
      minmax(200px, 1fr)
    ); /* Adjust for smaller screens */
  }
}

@media (max-width: 576px) {
  .grid-container {
    grid-template-columns: 1fr; /* Single column layout on extra small screens */
  }
}
