<<<<<<< HEAD
@import "../../variables.scss";

.navbar {
  background-color: $dark1 !important;
  color: $dark4;
}

.navbar-brand {
  color: $dark4 !important;
=======
body {
  padding-top: 56px;
>>>>>>> origin/master
}

.navbar-nav .nav-item .nav-link {
  cursor: pointer;
<<<<<<< HEAD
  color: $dark4 !important;

  &:hover {
    color: $blue-links !important;
  }
=======
>>>>>>> origin/master
}

.navbar-toggler {
  outline: none;
}
<<<<<<< HEAD

:hover {
  color: $blue-links !important;
}
=======
>>>>>>> origin/master
