@import "../../variables.scss";

.navbar {
  background-color: $dark1 !important;
  color: $dark4;
}

.navbar-brand {
  color: $dark4 !important;
}

.navbar-nav .nav-item .nav-link {
  cursor: pointer;
  color: $dark4 !important;

  &:hover {
    color: $blue-links !important;
  }
}

.navbar-toggler {
  outline: none;
}

:hover {
  color: $blue-links !important;
}
