:host {
  display: block;
<<<<<<< HEAD
  padding-top: 36px; // Same value as used in navbar.component.scss
=======
  padding-top: 56px; // Same value as used in navbar.component.scss
>>>>>>> origin/master
}
