@import "./variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h3 {
  text-align: center;
  margin: 20px;
}

p {
  word-break: break-all;
}

a {
  white-space: break-spaces !important;
  word-break: break-word;
  margin: auto;
}

.card-body {
  margin: auto;
  width: -webkit-fill-available;
  text-align: center;
  box-sizing: border-box;
  min-height: 200px;
}

.card-title {
  display: flex;
  flex-flow: row;
  word-break: break-word;
}

.button-container {
  display: flex;
  justify-content: space-between;
  min-width: 140px;
  margin-left: 10px;
}

.btn {
  box-sizing: border-box;
}

.form-new-song-album {
  margin-bottom: 20px;
}

.form-song-album {
  margin-bottom: 20px;
}

.container {
  margin-bottom: 20px;
}

.width-fixed {
  width: -webkit-fill-available;
}

.list-group-item {
  word-break: break-all;
  > * {
    display: flex;
    flex-direction: row;
  }
}

.text-center {
  word-break: break-all;
}
