@import "./variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h3 {
  text-align: center;
  margin: 20px;
}

.card-body {
  margin: auto;
  width: -webkit-fill-available;
  text-align: center;
  box-sizing: border-box;
  // overflow-x: hidden; // Hide horizontal overflow
  //   overflow-y: auto;   // Enable vertical scrolling if needed
  //   word-wrap: break-word;
}

.card-title {
  display: flex;
  flex-flow: row;
  word-break: break-word;
}

.button-container {
  display: flex;
  justify-content: space-between;
  min-width: 140px;
  margin-left: 10px;
  //width: -webkit-fill-available;
}

.btn {
  margin-left: 10px; /* Optional: Adjust the margin as needed */
}

.form-new-song-album {
  margin-bottom: 20px;
}

.form-song-album {
  margin-bottom: 20px;
}

.container {
  margin-bottom: 20px;
}

.width-fixed {
  width: -webkit-fill-available;
}

.list-group-item {
  > * {
    display: flex;
    flex-direction: row;
  }
}
