<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="home">
        <h1 class="text-center mb-4">Welcome to My Music Library</h1>
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Description</h3>
            <p class="card-text">
              Welcome to your digital music library, a web app designed for
              music enthusiasts. Explore your favorite artists, their albums,
              and songs. Easily create, update, or delete entries in this
              comprehensive music library, tailored to keep your collection
              organized and accessible. Enjoy seamless management of your music
              collection at your fingertips!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
