<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="home">
        <h1 class="text-center mb-4">Welcome to My Music Library</h1>
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Description</h3>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid
              sint animi perferendis praesentium recusandae aut culpa? Sequi,
              voluptatum. Natus minus repudiandae dolorum. Natus, sit! Cumque
              dolor a necessitatibus explicabo ad.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
